[submodule "hyperbolic-math"]
	path = hyperbolic-math
	url = git@github.com:univie-dm/hyperbolic-math.git
[submodule "hyperbolic_math"]
	path = hyperbolic_math
	url = git@github.com:univie-dm/hyperbolic-math.git
